@import "bootstrap/scss/bootstrap";

.background{
    background-image: url(/background.png);
}

.vh {
	min-height: 100vh;
}

.font-starwars {
    color: yellow;
    font-family: "Poller One", serif;
}

.white-starwars {
    color: rgb(211, 206, 206);
	font-family: "Poller One", serif;

}

.link-card {
	text-decoration: underline yellow;
	size: 12px;


    &:hover {
        color: yellow; // Change color on hover
        text-decoration: underline; // Example hover effect
    }
}

h1 {
	margin-top: 1rem;;
}
